
	<tr>
		<td id="table_center">{{amount}}</td>
		<td id="table_center"> {{notes}} </td>
		<td id="table_center"><a href="#!" class="modal-close waves-effect waves-green btn-flat">Delete</a>
		</td>
	</tr>