
	<tr>
		<td id="table_center">{{amount}}</td>
		<td id="table_center"> {{notes}} </td>
		<td id="table_center"><button href="#!" class="modal-close waves-effect waves-green btn-flat" data-id="{{userId}}" >Delete</button>
		</td>
	</tr>