<!DOCTYPE html>
<html> 

	<head> 
		{{!-- Materialize CSS --}}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	
	</head>

	<body>
		
		{{{body}}}


		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js">
		</script>
	</body>

</html>